*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: deeppink;
}

header{
  display: flex;
  justify-content: center;
}

ul li{
  display: inline-block;
  padding: 10px;
  font-size: 30px;
  font-weight: 100;
}

a{
  text-decoration: none;
  background-color:blueviolet;
  padding: 10px;
  color: deeppink;
  border-radius: 40px;
}

ul li a:hover{
  color: chartreuse;
}

.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.produtos-container{
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.imagem{
  max-width: 100%;
  height: auto;
}

.avaliacoes{
  width: 100px;
}

p{
  font-size: 20px;
  color: black;
}

button{
  border-style: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 40px;
  background-color: blueviolet;
  color: #ffffff;
}

button:hover{
  color: chartreuse;
}

.container-logo{
  display: flex;
  justify-content: space-around;
  margin: 10px;
 
}

.capa{
  width: 300px;
}

.container-msg {
  display: flex;
  align-items: center;
  margin: 10px;
  
}
.container img {
  max-width: 200px; /* Defina o tamanho máximo da imagem conforme necessário */
  margin-right: 20px; /* Adicione margem à direita para separar a imagem do texto */

}

.logo2{
  width: 500px;
  
}

@media(max-width:500px){
  .container-msg{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .container-logo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media(max-width:765px){
  .container-msg{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .container-logo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
